{% extends 'layouts/base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
  <h1>Création d'un projet</h1>

{{ include('pins/_form.html.twig', {submitButtonText: 'Création du Projet'}) }}

{% endblock %}
