{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier le Projet #'~ pin.id %}

{% block body %}
  <h1>Modification du Projet #{{ pin. id}} </h1>

    {{ include('pins/_form.html.twig', {'submitButtonText': 'Modification du Projet'}) }}

{% endblock %}
