<footer class="container text-center mt-5">
      <div class="container">
        <span class="text-muted">
        
        &copy; {{ 'now'|date('Y') }} &middot;
        by <a href="#">CodeurApprenti</a>
        </span>
      </div>
    </footer>